{
	"parser": "babel-eslint",
	"extends": [
		"airbnb"
	],
	"env": {
		"browser": true,
		"mocha": true
	},
	"globals": {
		"__DEVELOPMENT__": true,
		"assert": true,
		"expect": true,
		"sinon": true
	},
	"rules": {
		"indent" : ["error", "tab", { "SwitchCase": 1 }],
		"react/jsx-indent": ["error", 'tab'],
		"react/jsx-indent-props": ["error", 'tab'],
		"no-tabs": "off"
	}
}
